//THIS IS WRITTEN BASED ON THE TUTORIAL PART 5
@import 'config';
// Widescreens
@include mediaXL {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

}

// Desktops and Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

}

// Tablets and small laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center; 

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
        .about-information {
            @include background();
            height:100%;
            grid-gap: 2px;
            grid-template-areas:
            'title' 
            'bio-img' 
            'subtitle'
            'bio-text';
            grid-template-columns: repeat(4, 1.5fr);

        }
        .title {
            grid-area:title;  
            margin-left: 5.5rem; 
            font-size:2.5rem; 
            text-align: center;
            color: lighten($secondary-color,10);
        }
        .subtitle {
            grid-area: subtitle;
            padding:0.25rem;
            margin-left: 5rem;
            margin-top:0.75rem;
            text-align:center;
            border:set-text-color($primary-color) 3px solid;
            text-transform:uppercase;
            font-size:1.5rem;
        }
        .bio-img {
            align-items: center;
            margin-left:5rem;
        }
        .bio-text {
            font-size:1rem; 
            margin-left:7rem;
            padding:1.25rem;
            height:auto;
            width:auto;
            border-radius:0%;
        }
        // Courses: 

        .title_course {
            text-align:center;
            font-size:0.5rem;
            margin-left:0.5rem;
            margin-right:2.5rem;
            padding-bottom:0.5rem;
        }
        .courses {
            grid-gap:10px;
            margin-top:20px; 
            grid-template-areas: 
            'course1 course2'
            'course3 course4'
            'course5 course6'
            'course7 course8'
            'course9';
            grid-template-columns: repeat(1, 1fr);
    
        }

    } 

    ul.menu-nav {
        float: none;
        width: 100%;
        min-height:0;
        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }
}

//Smartphones
@include mediaSm{
    //main#home h1 {
     //   margin-top: 10vh;
    //} 
    main {
        .about-information {
            grid-gap: 2px;
            grid-template-areas:
            'title' 
            'bio-img' 
            'subtitle'
            'bio-text';
            grid-template-columns: repeat(4, 1.5fr);

        }
        .title {
            grid-area:title;  
            margin-left: 10rem; 
            font-size:2rem; 
            text-align: left;
            color: lighten($secondary-color,10);
        }
        .subtitle {
            grid-area: subtitle;
            padding:0.25rem;
            margin-left: 5rem;
            text-align:center;
            text-transform:uppercase;
            font-size:3.5rem;
        }
        .bio-text {
            font-size:1rem; 
        }
        .courses {
            grid-template-columns: 1fr;
            font-size: 0.5rem;
            grid-row-gap:5px;
            grid-template-areas: 
            'course1'
            'course2'
            'course3'
            'course4'
            'course5'
            'course6'
            'course7'
            'course8'
            'course9';
        }
        .title-course {
            font-size:0.75rem;
            text-align:left;
        } 
    }



}