@import 'config';

body {
    @include background();
    background: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;

}



h1,h2,h3 {
    margin: 0;
    font-weight:250;
    &.heading-lg {
        text-align:center;
        font-size: 4.5rem;
        font-style:normal;
    }
    
    &.heading-md {
        margin-top: 3rem;
        font-size: 2.5rem;
    } 
    &.heading-sm {
        text-align:center;
        font-size: 1.5rem;
        font-style:italic;
    }
}

.text-secondary {
    color: $secondary-color;
    font-weight: 4.5rem;
}

main {
    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();

            }
        }
    }
}


